
    <div id="sidebar" class="si-sidebar s-sidebar">
        <div class="sidebar-header s-flexible s-just-center">
            <img src="/Content/public/img/logo-vinasia.png" class="s-logo-dom">
        </div>
        <hr>
        <a href="#sub-sub-menu" class="list-group-item active text-white font-weight-bold" data-toggle="collapse" data-parent="#sub-menu">Quản trị<span class="caret pull-right m-t-5"></span></a>
        <div class="collapse list-group-level2 in show" id="sub-sub-menu">
            <a href="~/Management/Account" class="list-group-item"><img src="~/Content/images/icon/bar-chart.png" width="24" height="24" />Thông tin tài khoản</a>
            <a href="~/Management/Device" class="list-group-item"><img src="/Content/images/icon/destination.png" width="24" height="24" />Thông tin thiết bị</a>
            <a href="~/Management/Driver" class="list-group-item"><img src="~/Content/images/icon/speed vin.png" width="24" height="24"/>Thông tin lái tàu</a>

        </div>
    </div>