
@{
    ViewBag.Title = "ThietBiVaLaiTau";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="list-tienich" class="main">
    <div class="wrapper">
        @Html.Partial("_MenuThietBiVaLaiTau");
        <div id="content-tienich-thongtinthietbi" class="content">
            <div id="signupbox" class="mainbox">
                <div class="panel panel-primary">
                    <div class="jumbotron ">
                        <h2>Thông Tin Lái Tàu</h2>
                    </div>
                    <div ng-app="ThietBiVaLaiTauApp" ng-controller="Controller">
                        <div class="card-header"><i class="fas fa-table mr-1"></i>Kết Quả Tìm Kiếm</div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ThemThietBi">
                                <i class="fa fa-plus"></i> Thêm mới
                            </button>
                            <label>Tổng: {{namesData.length}}</label>
                            <div class="table-responsive">
                                <table id="dataTable" class="table table-bordered table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th width="5%"> #</th>
                                            <th> Thao tác</th>
                                            <th> Tên lái tàu</th>
                                            <th> Số điện thoại</th>
                                            <th> Giấy Phép Lái Tàu </th>
                                            <th> Hạng</th>
                                            <th> Nơi Cấp</th>
                                            <th> Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="a in namesData | filter:SearchKey | itemsPerPage: 7" current-page="currentPage">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <a ng-click="View(namesData[$index])" ng-model="$scope.Driver" data-toggle="modal" data-target="#XemThietBi">
                                                    <i class="fa fa-eye" style="color:black"></i>
                                                </a>
                                                <a ng-click="Edit(namesData[$index])" data-toggle="modal" data-target="#SuaThietBi"><i class="fa fa-edit">edit</i></a>
                                                <a ng-click="Delete($index)" ng-if="a.Status == 1"><i class="fa fa-lock"></i></a>
                                                <a ng-click="Unlock($index)" ng-if="a.Status == -1"><i class="fa fa-unlock"></i></a>
                                            </td>
                                            <td>{{a.DriverName}}</td>
                                            <td>{{a.Phone}}</td>
                                            <td>{{a.GPLT}}</td>
                                            <td>{{a.Rank}}</td>
                                            <td>{{a.IssuedBy}}</td>
                                            <td ng-if="a.StatusDevice == 1"><p style="color:forestgreen">Kích hoạt</p></td>
                                            <td ng-if="a.StatusDevice == -1"><p style="color:red">Tạm khóa</p></td>


                                        </tr>
                                    </tbody>
                                </table>
                                <div class="other-controller" style="border:1px solid #ccf; padding:5px; margin:3px">
                                    <div class="text-center">
                                        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="XemThietBi" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" ng-show="Device.DeviceID != '' ">
                    <div class="modal-header">
                        <h3 class="text-info">Xem Chi Tiết Thiết Bị</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="Clear()">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <form class="form-horizontal row" name="XemThietBi">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Số hiệu </label>
                                    <input class="form-control" name="DeviceNo" ng-model="Device.DeviceNo" type="text" disabled maxlength="50" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Tên thiết bị </label>
                                    <input class="form-control" name="DeviceName" ng-model="Device.DeviceName" type="text" disabled maxlength="30" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Phiên bản </label>
                                    <input class="form-control" name="DeviceVersion" ng-model="Device.DeviceVersion" type="text" disabled maxlength="50" />
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Imei </label>
                                    <input class="form-control" name="DeviceImei" ng-model="Device.DeviceImei" type="text" disabled maxlength="10" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Ngày hết hạn </label>
                                    <input class="form-control" name="DateExpired" ng-model="Device.DateExpired" type="text" disabled maxlength="200" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Ghi chú </label>
                                    <textarea class="form-control" name="DeviceNote" ng-model="Device.DeviceNote" type="text" disabled rows="3"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Clear()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.js"></script>
<script src="~/Content/public/js/main/DeviceAndDriver.js"></script>
<script src="~/Areas/Admin/Pagination JS/dirPagination.js"></script>
