
@{
    ViewBag.Title = "ThietBiVaLaiTau";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var user = Session["User"] as SeaTrack.Lib.DTO.Users;
}

<div id="list-tienich" class="main" ng-app="LaiTauApp" ng-controller="Controller"  ng-init="UserID('@user.Username')">
    <div class="wrapper">
        @Html.Partial("_MenuThietBiVaLaiTau")
        <div id="content-tienich-thongtinthietbi" class="content">
            <div id="signupbox" class="mainbox">
                <div class="panel panel-primary">
                    <div class="jumbotron ">
                        <h2>Thông Tin Lái Tàu</h2>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <strong class="card-title">Vùng Tìm Kiếm</strong>
                        </div>
                        <div class="card-body">
                            <div class="col col-md-12">
                                <div class="input-group">
                                    <input type="text"  name="input1-group2" ng-model="SearchKey" placeholder="Nhập từ khóa ..." class="form-control"  id="SearchKey" onkeyup="ListSearch('SearchKey','data')"><br />
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="ClearSearch()">
                                            <i class="fa fa-search"></i> Làm mới
                                        </button>
                                    </div>
                                </div>
                                <br />
                                
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header"><i class="fas fa-table mr-1"></i>Kết Quả Tìm Kiếm</div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ThemThongTinLaiTau">
                                <i class="fa fa-plus"></i> Thêm mới
                            </button>
                            <label>Tổng: {{namesData.length}}</label>
                            <div class="table-responsive">
                                <table id="dataTable" class="table table-bordered table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th width="5%"> #</th>
                                            <th> Thao tác</th>
                                            <th> Tên lái tàu</th>
                                            <th> Số điện thoại</th>
                                            <th> Giấy Phép Lái Tàu </th>
                                            <th> Hạng</th>
                                            <th> Nơi Cấp</th>
                                            <th> Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody id="data">
                                        <tr dir-paginate="a in namesData | filter:SearchKey | itemsPerPage: 10" current-page="currentPage">
                                            <td>{{$index + (currentPage-1)*10+1}}</td>
                                            <td>
                                                <a ng-click="View(namesData[$index + (currentPage-1)*10])" ng-model="$scope.Driver" data-toggle="modal" data-target="#XemThongTinLaiTau">
                                                    <i class="fa fa-list-ul" style="color:#15b4c4"></i>
                                                </a>
                                                <a ng-click="Edit(namesData[$index + (currentPage-1)*10])" data-toggle="modal" data-target="#SuaThongTinLaiTau"><i class="fa fa-edit">edit</i></a>
                                                <a ng-click="Lock($index + (currentPage-1)*10)" ng-if="a.Status == 1"><i class="fa fa-lock color-red"></i></a>
                                                <a ng-click="Unlock($index + (currentPage-1)*10)" ng-if="a.Status == -1"><i class="fa fa-unlock"></i></a>
                                            </td>
                                            <td>{{a.DriverName}}</td>
                                            <td>{{a.Phone}}</td>
                                            <td>{{a.GPLT}}</td>
                                            <td>{{a.Rank}}</td>
                                            <td>{{a.IssuedBy}}</td>
                                            <td ng-if="a.Status == 1"><p style="color:forestgreen">Kích hoạt</p></td>
                                            <td ng-if="a.Status == -1"><p style="color:red">Tạm khóa</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="other-controller" style="border:1px solid #ccf; padding:5px; margin:3px">
                                    <div class="text-center">
                                        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="XemThongTinLaiTau" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <h3 class="text-info">Cấp Thiết Bị Cho Lái Tàu</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="Clear()">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <form class="form-horizontal row" name="xem">
                            <div class="col col-md-12">
                                <a href="#CapThietBi" data-toggle="modal" ng-click="AddDevice()"><i class="fa fa-plus-circle" style="color:black"></i></a>
                                <label class="control-label"> Danh sách thiết bị </label>
                                <table class="table table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên thiết bị</th>
                                            <th scope="col">Ngày hết hạn</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in Devices">
                                            <th>{{$index + 1}}</th>
                                            <td>{{d.DeviceName}}</td>
                                            <td>{{d.DateExpired}}</td>
                                            <td align="center">
                                                <a ng-click="RemoveDeviceFromUser($index)"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="update()">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Clear()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="CapThietBi" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Danh sách thiết bị</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên thiết bị</th>
                                    <th scope="col">Ngày hết hạn</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dv in DevicesNotUsed">
                                    <th>{{$index + 1}}</th>
                                    <td>{{dv.DeviceName}}</td>
                                    <td>{{dv.DateExpired}}</td>
                                    <td align="center">
                                        <a ng-click="AddDeviceToUser($index)"><i class="fa fa-plus-circle"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn" ng-click="loading(Driver.DriverID)">Đóng</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ThemThongTinLaiTau" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Thêm tài khoản Lái Tàu</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="Clear()">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <form class="form-horizontal row" name="them">

                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Tên lái tàu </label>
                                    <input required class="form-control" name="DriverName" ng-model="Driver.DriverName" type="text" maxlength="50" />
                               
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Số điện thoại </label>
                                    <input require class="form-control" name="Phone" ng-model="Driver.Phone" ng-pattern="/^[0-9]{10}$/" type="text" maxlength="10" />
                                    <span style="color:Red" ng-show="them.Phone.$error.pattern">Số điện thoại không phải là số hoặc ngắn hơn 10 ký tự</span>

                                </div>
                               
                                <div class="form-group">
                                    <label class="control-label"> Chứng minh thư </label>
                                    <input require class="form-control" id="CMND" name="CMND" ng-model="Driver.CMND" ng-blur="CheckCMND(Driver.CMND)"
                                           ng-pattern="/^[0-9]{9}$/" onkeyup="this.value = this.value.toLowerCase();"
                                           type="text" required maxlength="9" min="1" >
                                    <label ng-if="CMNDexists != 'OK' && CMNDexists != null" style="color:red">Chứng minh thư đã tồn tại </label>
                                    <span style="color:Red" ng-show="them.CMND.$error.pattern">Chứng minh thư không phải là số hoặc ngắn hơn 8 ký tự</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> địa chỉ </label>
                                    <textarea class="form-control" name="Address" ng-model="Driver.Address" type="text" maxlength="50" rows="2"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="control-label"> Ghi Chú </label>
                                    <textarea class="form-control" name="Note" ng-model="Driver.Note" type="text" maxlength="50" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col col-md-6">

                                <div class="form-group">
                                    <label class="control-label"> Giấy phép lái tàu </label>
                                    <input require class="form-control" name="GPLT" ng-model="Driver.GPLT" type="text" maxlength="10" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Hạng lái tàu</label>
                                    <select class="form-control" name="Rank" ng-model="Driver.Rank">
                                        <option value="" selected>Chọn hạng </option>
                                        <option value="1"> Hạng nhất </option>
                                        <option value="2"> Hạng nhì </option>
                                        <option value="3"> Hạng ba </option>
                                        <option value="4"> Hạng tư </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Ngày cấp GPLT </label>
                                    <input require class="form-control" name="CreateDateGPLT" ng-model="Driver.CreateDateGPLT" type="date" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Ngày hêt hạn GPLT </label>
                                    <input require class="form-control" name="CreateDateGPLT" ng-model="Driver.ExpriseDateGPLT" type="date" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Nơi cấp GPLT </label>
                                    <textarea class="form-control" name="IssuedBy" ng-model="Driver.IssuedBy" type="text" rows="2"></textarea>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-disabled="them.$invalid" ng-click="Save()">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Clear()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="SuaThongTinLaiTau" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" ng-show="Driver.DriverID != '' ">
                    <div class="modal-header">
                        <h3 class="text-info">Sửa Thông Tin Lái Tàu</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="Clear()">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <form class="form-horizontal row" name="sua">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Tên lái tàu </label>
                                    {{Driver.DriverName}}
                                    <input required class="form-control" name="DriverName" ng-model="Driver.DriverName" type="text" maxlength="50" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Số điện thoại </label>
                                    <input require class="form-control" name="Phone" ng-model="Driver.Phone" ng-pattern="/^[0-9]{10}$/" type="text" maxlength="10" />
                                    <span style="color:Red" ng-show="sua.Phone.$error.pattern">Số điện thoại không phải là số hoặc ngắn hơn 10 ký tự</span>

                                </div>
                                <div class="form-group">
                                    <label class="control-label"> địa chỉ </label>
                                    <textarea class="form-control" name="Address" ng-model="Driver.Address" type="text" maxlength="50" rows="3"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="control-label"> Ghi Chú </label>
                                    <textarea class="form-control" name="Note" ng-model="Driver.Note" type="text" maxlength="50" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Chứng minh thư </label>
                                    <input require  class="form-control" name="CMND" ng-model="Driver.CMND" ng-pattern="/^[0-9]{9}$/" type="text" maxlength="9" />
                                    <span style="color:Red" ng-show="sua.CMND.$error.pattern">Chứng minh thư không phải là số hoặc ngắn hơn 8 ký tự</span>

                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Giấy phép lái tàu </label>
                                    <input require class="form-control" name="GPLT" ng-model="Driver.GPLT" type="text" maxlength="10" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Hạng lái tàu </label>
                               
                                    <select class="form-control" name="Rank" ng-model="Driver.Rank">
                                    
                                        <option value="1"> Hạng nhất </option>
                                        <option value="2"> Hạng nhì </option>
                                        <option value="3"> Hạng ba </option>
                                        <option value="4"> Hạng tư </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Ngày cấp GPLT </label>
                                    <input require class="form-control" name="CreateDateGPLT" ng-model="Driver.CreateDateGPLT " type="date" rows="3">
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Ngày hêt hạn GPLT </label>
                                    <input require class="form-control" name="CreateDateGPLT" ng-model="Driver.ExpriseDateGPLT" type="date" rows="3">
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Nơi cấp </label>
                                    <textarea class="form-control" name="IssuedBy" ng-model="Driver.IssuedBy" type="text" rows="3"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave" ng-disabled="sua.$invalid" data-dismiss="modal" ng-click="update()">Cập nhật</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Clear()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

