<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
@{
    Layout = null;

}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/js-login/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/js-login/bootstrap.js"></script>
    <title>Trang đăng nhập Vinasia</title>
    <link href="~/Content/login-css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/login-css/vinasia.css" rel="stylesheet" />

    
</head>
<body id="login">
    <div class="s-conten container">
        <div>
            <div valign="middle">
                <div id="loginBackground" class="s-container">
                    <div id="loginPanel">
                        <form id="loginform" action="~/Home/ValidateUser" method="post" autocomplete="on">
                            @if (ViewBag.StatusLogin == 0)
                            {
                                <script>
                                    alert("Đăng nhập thất bại. Tên mật khẩu hoặc tài khoản không đúng");
                                </script>
                            }
                            else if (ViewBag.StatusLogin == -1)
                            {
                                <script>
                                    alert("Đăng nhập thất bại. Tài khoản này đã bị khóa");
                                </script>
                            }

                            <input type="hidden" name="sticky" value="false" />
                            <div class="form-group">
                                <label for="username" class="s-label-a">Tên đăng nhập: </label>
                                <input type="text" name="username" tabindex="1" id="username" value="" required /><br clear="all" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="s-label-a">Mật khẩu: </label>
                                <input type="password" name="password" tabindex="2" id="password" required />&nbsp;&nbsp;
                                <input name="Submit" class="btn s-bton-subm" type="submit" onclick="" tabindex="4" value="Đăng nhập" />
                            </div>

                            <p class="s-mis-pass"><a href="#">Quên mật khẩu?</a></p>
                        </form>
                    </div>
                </div>

                <div id="newAccountPanel" class="s-container">
                    <div class="content s-cla-cont" >
                        <p>Nếu chưa có tài khoản bạn vui lòng tạo tài khoản Vinasia mới</p>
                        @*<a href="#" class="btn btn-primary d-none">Tạo tài khoản</a>*@
                    </div>
                </div>

                <div id="loginFooterPanel">
                    <p>&copy; 2019 Copyright registration Vinasia</p>
                    @*<p>Nếu cần sự hỗ trợ, vui lòng liên hệ email <a href="mailto:support@rock7.com">support@vinasia.com</a></p>*@
                </div>

            </div>
        </div>
    </div>


</body>
</html>
