@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        function initMap() {
            CreatePoly();

        }
        var vungbo;
        var vunglong;
        var map;
        function CreatePoly() {
            var bo2 = [
            {
                lat: 23.280141,
                lng: 105.347008
            },
            {
                lat: 21.503194135549496,
                lng: 108.02619254294065
            },
            {
                lat: 21.297161379096146,
                lng: 108.22480509158356
            },
            {
                lat: 20.77640623884077,
                lng: 107.49933562034437
            },
            {
                lat: 20.78218407614093,
                lng: 107.25488981956312
            },
            {
                lat: 19.48079141166457,
                lng: 105.8929193720719
            },
            {
                lat: 18.85371975591871,
                lng: 106.07666110640285
            },
            {
                lat: 18.00837312927585,
                lng: 106.69288137037508
            },
            {
                lat: 17.228582152191144,
                lng: 107.39704107428051
            },
            {
                lat: 15.449776771055586,
                lng: 109.15733841196696
            },
            {
                lat: 12.69602865658084,
                lng: 109.55186730353006
            },
            {
                lat: 11.325273851872304,
                lng: 109.18188819694667
            },
            {
                lat: 10.140214684249509,
                lng: 107.05858580904787
            },
            {
                lat: 9.457781057934595,
                lng: 106.68539918157842
            },
            {
                lat: 9.08031407756966,
                lng: 105.8552447626331
            },
            {
                lat: 8.47779555308242,
                lng: 105.28500466758953
            },
            {
                lat: 8.528428615467199,
                lng: 104.61373556128177
            },
            {
                lat: 10.04419157417623,
                lng: 104.61065060776808
            },
            {
                lat: 10.044060671815789,
                lng: 104.07640064691681
            },
            {
                lat: 10.39325704700242,
                lng: 103.91046360697484
            },
            {
                lat: 10.379073755361572,
                lng: 104.44467381205297
            }];
            var long2 = [
                {
                    lat: 23.280141,
                    lng: 105.347008
                },
                {
                    lat: 21.503194135549496,
                    lng: 108.02619254294065
                },
                {
                    lat: 21.27184946152741,
                    lng: 108.2519905029297
                },
                {
                    lat: 20.858238795550733,
                    lng: 108.34490845369258
                },
                {
                    lat: 19.5902308612782,
                    lng: 106.62004059242275
                },
                {
                    lat: 18.648810920991348,
                    lng: 106.61842212159299
                },
                {
                    lat: 18.433979558389915,
                    lng: 106.87042102296017
                },
                {
                    lat: 17.978696336041832,
                    lng: 107.13065967042111
                },
                {
                    lat: 17.45602816449127,
                    lng: 107.66040360201372
                },
                {
                    lat: 15.640857101793385,
                    lng: 109.65263186574529
                },
                {
                    lat: 12.739034580946218,
                    lng: 110.10183715040718
                },
                {
                    lat: 10.892694838233052,
                    lng: 109.62075379644894
                },
                {
                    lat: 9.668930302885345,
                    lng: 107.33201354059692
                },
                {
                    lat: 9.019443110533954,
                    lng: 107.13295285276917
                },
                {
                    lat: 8.620470697801126,
                    lng: 106.13731686644104
                },
                {
                    lat: 7.979310681555522,
                    lng: 105.59226763095965
                },
                {
                    lat: 8.078662326012513,
                    lng: 104.22501148728139
                },
                {
                    lat: 9.543674686940426,
                    lng: 104.20120549581164
                },
                {
                    lat: 9.542320400261909,
                    lng: 103.8201172389757
                },
                {
                    lat: 10.075896401615779,
                    lng: 103.5475096832125
                },
                {
                    lat: 10.394501446413623,
                    lng: 103.85705794721736
                },
                {
                    lat: 10.370579776181014,
                    lng: 104.4344147351941
                }];
            var bo = [
              {
                  lat: 23.280141,
                  lng: 105.347008
              },
              {
                  lat: 21.532631301291076,
                  lng: 108.05561492727831
              },
              {
                  lat: 21.29722222,
                  lng: 108.2861
              },
              {
                  lat: 20.73888889,
                  lng: 107.5111
              },
              {
                  lat: 20.74444444,
                  lng: 107.2694
              },
              {
                  lat: 19.475,
                  lng: 105.9389
              },
              {
                  lat: 18.87777778,
                  lng: 106.1139
              },
              {
                  lat: 18.03888889,
                  lng: 106.7250
              },
              {
                  lat: 17.25833333,
                  lng: 107.4306
              },
              {
                  lat: 15.47777778,
                  lng: 109.1972
              },
              {
                  lat: 12.7,
                  lng: 109.5944
              },
              {
                  lat: 11.29722222,
                  lng: 109.2222
              },
              {
                  lat: 10.10555556,
                  lng: 107.0889
              },
              {
                  lat: 9.425,
                  lng: 106.7194
              },
              {
                  lat: 9.041666667,
                  lng: 105.8806
              },
              {
                  lat: 8.430555556,
                  lng: 105.3028
              },
              {
                  lat: 8.488888889,
                  lng: 104.5694
              },
              {
                  lat: 10,
                  lng: 104.5667
              },
              {
                  lat: 10,
                  lng: 104.05
              },
              {
                  lat: 10.43888889,
                  lng: 103.8417
              },
              {
                  lat: 10.421051,
                  lng: 104.438897
              }];
            var long = [
              {
                  lat: 23.280141,
                  lng: 105.347008
              },
              {
                  lat: 21.532631301291076,
                  lng: 108.05561492727831
              },
              {
                  lat: 21.29722222,
                  lng: 108.2861
              },
              {
                  lat: 20.83333333,
                  lng: 108.3944444
              },
              {
                  lat: 20,
                  lng: 107.2305556
              },
              {
                  lat: 19.56944444,
                  lng: 106.6638889
              },
              {
                  lat: 18.66666667,
                  lng: 106.6638889
              },
              {
                  lat: 18.46111111,
                  lng: 106.9055556
              },
              {
                  lat: 18,
                  lng: 107.1694444
              },
              {
                  lat: 17.48888889,
                  lng: 107.7
              },
              {
                  lat: 15.66111111,
                  lng: 109.6944444
              },
              {
                  lat: 12.7444444,
                  lng: 110.1472222
              },
              {
                  lat: 10.86666667,
                  lng: 109.6611111
              },
              {
                  lat: 9.636111111,
                  lng: 107.3666667
              },
              {
                  lat: 8.986111111,
                  lng: 107.1694444
              },
              {
                  lat: 8.583333333,
                  lng: 106.1638889
              },
              {
                  lat: 7.933333333,
                  lng: 105.6111111
              },
              {
                  lat: 8.038888889,
                  lng: 104.1805556
              },
              {
                  lat: 9.5,
                  lng: 104.1555556
              },
              {
                  lat: 9.5,
                  lng: 103.7944444
              },
              {
                  lat: 10.08333333,
                  lng: 103.4944444
              },
              {
                  lat: 10.43888889,
                  lng: 103.8417
              },
              {
                  lat: 10.421051,
                  lng: 104.438897
              }];
            var China = [
                {
                    lat: 21.209722,
                    lng: 108.208611
                },
                {
                    lat: 20.401389,
                    lng: 108.379167
                },
                {
                    lat: 19.959167,
                    lng: 107.929722
                },
                {
                    lat: 19.659167,
                    lng: 107.527778
                },
                {
                    lat: 19.423889,
                    lng: 107.35
                },
                {
                    lat: 19.423889,
                    lng: 107.211944
                },
                {
                    lat: 19.267778,
                    lng: 107.189722
                },
                {
                    lat: 19.215278,
                    lng: 107.159444
                },
                {
                    lat: 18.714444,
                    lng: 107.159444
                },
                {
                    lat: 18.714444,
                    lng: 107.159444
                },
                {
                    lat: 18.714444,
                    lng: 107.159444
                },
                {
                    lat: 18.714444,
                    lng: 107.159444
                },
                {
                    lat: 18.714444,
                    lng: 107.159444
                },
            ];
              
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 20.72222222, lng: 107.5111 },
                zoom: 8,
                scaleControl: true
            });
            vungbo = new google.maps.Polygon({
                paths: bo,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            });
            vungbo.setMap(map);
            vungbo2 = new google.maps.Polygon({
                paths: bo2,
                strokeColor: '#000000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#000000',
                fillOpacity: 0.5
            });
            vungbo2.setMap(map);
            vunglong = new google.maps.Polygon({
                paths: long,
                strokeColor: '#f91608',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#c51536',
                fillOpacity: 0.35
            });
            vunglong.setMap(map);
            vunglong2 = new google.maps.Polygon({
                paths: long2,
                strokeColor: '#f91608',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#14e851',
                fillOpacity: 0.35
            });
            vunglong2.setMap(map);

            google.maps.event.addListener(map, 'click', function (event) {
                addMarker(event.latLng, map);
                var label;
                if (google.maps.geometry.poly.containsLocation(event.latLng, vungbo)) {
                    label = "B";
                } else {
                    if (google.maps.geometry.poly.containsLocation(event.latLng, vungbo2)) {
                        label = "B2";
                    } else {
                        if (google.maps.geometry.poly.containsLocation(event.latLng, vunglong)) {
                            label = "L";
                        } else {
                            label = "L2";
                        }
                    }
                }
                new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    label: label
                });
            });

        }
        function addMarker(location, map) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            var marker = new google.maps.Marker({
                position: location,
                label: "C",
                map: map,
            });
        }
        function checkArea(lat, lng) {
            var checkpoint = new google.maps.LatLng(lat, lng);
            if (google.maps.geometry.poly.containsLocation(checkpoint, vunglong) == false) {
                console.log('Vùng khơi');
                return 3;
            }

            else {
                if (google.maps.geometry.poly.containsLocation(checkpoint, vungbo) == false) {
                    console.log('Vùng lộng');
                    return 2;
                }
                console.log('Vùng bộ');
                return 1;
            }
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADYWIGFSnn3DHlJblK0hntz5KQiwbD0hk&libraries=geometry&callback=initMap"
            async defer></script>
</body>
</html>
