
@{
    ViewBag.Title = "Route";
    //Layout = "~/Views/Shared/_LayoutDemo.cshtml";
    Layout = "~/Views/Shared/_Route.cshtml";
}




<main id="rounded" class="s-auto-height">
    <div class="s-full s-flexible-wrap">
        <div class="s-no-padding s-full">

   
        
                    <nav id="s-sidebar" class="s-absolute s-main-sidebar">

                   
                        <div class="sidebar-header s-flexible s-just-center">
                            <img src="/Content/public/img/logo-vinasia.png" class="s-logo-dom">
                        </div>
                        <hr>
                      
                        <div class="s-left-tab">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a onclick="//GiamSat();" class="nav-link active" href="#lefttab_1" data-toggle="tab">Giám sát tàu</a>
                                </li>
                                <li class="nav-item">
                                    <a onclick="setDate();" class="nav-link" href="#lefttab_2" data-toggle="tab">Xem lại lộ trình</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="lefttab_1">
                                    <div class="m-b-5 m-t-5 input-group">
                                        <div class="input-group-prepend">
                                            <select class="custom-select" id="selectState" onchange="createTable('selectState', 'tblbodydata');">
                                                <option value="0">Tất cả</option>
                                                <option value="1">Di chuyển</option>
                                                <option value="2">Tàu Dừng</option>
                                                <option value="3">Mất tín hiệu</option>
                                                <option value="4">Hết hạn</option>
                                            </select>
                                        </div>
                                        <input id="search_dsxe" type="text" class="form-control" placeholder="Tìm kiếm" onkeyup="ListDeviceSearch('search_dsxe', 'tblbodydata');">
                                    </div>
                                    <hr>
                                    <div class="s-sub-left-tab s-relative">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#sublefttab_1" data-toggle="tab">Tàu cá</a>
                                            </li>

                                            <button class=" btn btn-info" style=" margin: 3px 5px 5px; height: 35px;" onclick="fetchdata()" >
                                               <i class="fa fa-sync-alt"></i>
                                            </button>

                                            <button id="s-info-button" class="float-right btn btn-info s-absolute-right" data-toggle="" data-placement="right" data-trigger="hover" data-html="true" title="Ý NGHĨA MÀU" data-content=''>
                                                <i class="fas fa-info"></i>
                                            </button>
                                        </ul>
                                       
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="sublefttab_1">
                                                <div id="s-tab-table">
                                                    <table id="tbldata" class="table-bordered table table-sm text-center">
                                                        <thead style="white-space:nowrap;">
                                                            <tr>
                                                                <th class="headerAlignCenter">
                                                                    STT
                                                                </th>
                                                                <th class="headerAlignCenter">
                                                                    Số hiệu
                                                                </th>
                                                                <th class="headerAlignCenter">
                                                                    Vận tốc
                                                                </th>
                                                                <th class="headerAlignCenter">
                                                                    Thời gian
                                                                </th>
                                                                <th class="headerAlignCenter">
                                                                    Vị trí
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblbodydata"></tbody>
                                                    </table>
                                                    <div class="p-10 text-center text-danger" id="tongsoxe"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="lefttab_2">
                                    <div class="m-b-5 m-t-5 input-group">
                                        <div class="m-b-5 m-t-5 input-group">
                                            <div class="input-group-prepend">
                                            </div>
                                            <input id="search_dsxe2" type="text" class="d-none form-control" placeholder="Tìm kiếm" onkeyup="ListDeviceSearch('search_dsxe2', 'tblbodydata');">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="s-pickup-datetime">
                                        <div class="form-date m-t-5">
                                            <label>Từ</label>
                                            <div class="input-group mb-3 date form_time m-l-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                                <input class="form-control" size="5" id="date_form_h" type="text" style="height:26px" readonly>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-clock" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="dtp_input3" />
                                            <div class="input-group mb-3 date form_date" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy">
                                                <input class="form-control" type="text" id="date_form_d" style="height:26px" readonly>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="dtp_input2" />
                                        </div>
                                        <div class="form-date m-t-5">
                                            <label>Đến</label>
                                            <div class="input-group mb-3 date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                                <input class="form-control" size="5" type="text" id="date_t_h" style="height:26px" readonly>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-clock" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="dtp_input3" />
                                            <div class="input-group mb-3 date form_date" data-date="" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy">
                                                <input class="form-control" type="text" id="date_t_d" style="height:26px" readonly>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="dtp_input2" />
                                        </div>
                                    </div>
                                    <div class="s-training-to">
                                        <div class="input-group mb-3 ">
                                            <select id="list_xelotrinh" class="custom-select select2 fl"></select>
                                            <div class="input-group-append">
                                                <button class="btn btn-info" onclick="setdrawingLinePoint(1); interval_draw();">
                                                    <i class="fa fa-search"></i>
                                                    Xem
                                                </button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3 text-center ">
                                            <div class="slidecontainer">
                                                <button class="btn"><i class="fa fa-play"></i></button>
                                                <input type="range" class="custom-range" min="0" max="5" step="0.5" id="myRange">
                                                <button class="btn"><i class="fa fa-play-circle"></i></button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sublefttab_4" class="s-sub-left-tab">

                                        <table id="tbldataline" class="table-bordered table table-sm text-center">
                                            <thead style="white-space:nowrap;">
                                                <tr>
                                                    <th class="headerAlignCenter">
                                                        Tọa độ
                                                    </th>
                                                    <th class="headerAlignCenter">
                                                        Vận tốc
                                                    </th>
                                                    <th class="headerAlignCenter">
                                                        Thời gian
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblbodydataline"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="popUpBox_theMeaningOfIcon" class="d-none popUpBox_theMeaningOfIcon" style="display: block;">
                                <div class="content">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="fl header-title">Ý nghĩa biểu tượng tàu</div><div class="fr">
                                                        <a href="#">
                                                            <img id="closeMeaningOfIcon" src="/Content/public/img/icon/delete-icon.png" alt="" title="Đóng">
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img src="/Content/images/tau/tau-black.png" alt=""></td>
                                                <td>Tàu dừng đỗ</td>
                                            </tr>
                                            <tr>
                                                <td><img src="/Content/images/tau/tau-green.png" alt=""></td>
                                                <td>Tàu di chuyển</td>
                                            </tr>
                                            <tr>
                                                <td><img src="~/Content/images/tau/tau-yellow.png" alt=""></td>
                                                <td>Tàu mất tín hiệu</td>
                                            </tr>
                                            <tr>
                                                <td><img src="/Content/images/tau/tau-red.png" alt=""></td>
                                                <td>Tàu hết hạn dịch vụ, cảnh báo sự cố, vượt phạm vi ...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </nav>


     
            <div id="style-selector-control" class="map-control">
                <select id="style-selector" class="selector-control">
                    <option value="default" selected>Mặc định</option>
                    <option value="satellite">Vệ tinh</option>
                    <option value="night">Đêm</option>
                </select>
            </div>
      
            <div id="map" class="s-map s-full">
            </div>
            <div id="WarningDiv" class="alert alert-danger alert-dismissible fade show" style="display:none;top:26%;right:5%;position:absolute">
                <button type="button" class="close" onclick="hide()">&times;</button>
                <strong>Chú ý!</strong> <label id ="warning">Tàu vi phạm vùng đánh bắt</label>.
            </div>
            <div id="SOS" style="width:30%;background:#fff;position:absolute;right:10px;bottom:5%;text-align:center;border:0px;border-radius:5px;">
                <label class="text-danger "  style="font-size:15px;font-weight:bold">CẢNH BÁO KHẨN CẤP</label>
                <table id="tbldata" class="table-bordered table table-sm text-center" style="padding:0px">
                    <thead style="white-space:nowrap;">
                        <tr>
                            <th class="headerAlignCenter">
                                STT
                            </th>
                            <th class="headerAlignCenter">
                                Số hiệu
                            </th>
                            <th class="headerAlignCenter">
                                Thời gian
                            </th>
                            <th class="headerAlignCenter">
                                Vị trí
                            </th>
                        </tr>
                    </thead>
                    <tbody id="SOSData"></tbody>
                </table>
            </div>
        </div>

    </div>
</main>
<style>

    .slidecontainer button {
        color: #15b4c4;
        border: 1px solid #15b4c4;
    }

    .custom-range {
        width: 70%;
        height: auto;
    }

    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

        .slider:hover {
            opacity: 1;
        }
</style>
<script>
    
    //$("#SOS").draggable();
function hide(){
    document.getElementById("WarningDiv").style.display = "none";
}
</script>