
    <div id="sidebar2" class=" si-sidebar s-sidebar">
        <div class="sidebar-header s-flexible s-just-center">
            <img src="/Content/public/img/logo-vinasia.png" class="s-logo-dom">
        </div>
        <hr>
        <a href="#sub-menu-1" class="list-group-item active text-white font-weight-bold" data-toggle="collapse" data-parent="#sub-menu"> Báo cáo tổng hợp<span class="caret pull-right m-t-5"></span></a>
        <div class="collapse list-group-level1 in show" id="sub-menu-1">
            <a id="menu-dn" href="~/Report/SummaryActivityReport" class="list-group-item" data-parent="#sub-menu"><img src="/Content/images/icon/business.png" width="24" height="24" /> Báo cáo tổng hợp hoạt động</a>
            <a id="menu-dn" href="~/Report/DetailedActivityReport" class="list-group-item" data-parent="#sub-menu"><img src="/Content/images/icon/bar-chart.png" width="24" height="24" /> Báo cáo chi tiết hoạt động</a>
            <a id="menu-dn" href="~/Report/SummaryReportOfScopeOfActivities" class="list-group-item" data-parent="#sub-menu"><img src="/Content/images/icon/phamvi.png" width="24" height="24" /> Báo cáo tổng hợp phạm vi tàu hoạt động</a>
            <a id="menu-dn" href="~/SOS/Index" class="list-group-item" data-parent="#sub-menu"><img src="/Content/images/icon/phamvi.png" width="24" height="24" /> Báo cáo SOS</a>
        </div>
    </div>