
@{
    ViewBag.Title = "BaoCaoTongHopPhamViHoatDong";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="main" id="list_business">
    <div class="wrapper">
        @Html.Partial("_MenuBaoCaoChoDoanhNghiep")

        <div id="content-dn-tonghopkm" class="content">
            <div id="signupbox" class="mainbox">
                <div class="panel panel-primary">
                    <div class="jumbotron ">
                        <h2>BÁO CÁO TỔNG HỢP PHẠM VI TÀU HOẠT ĐỘNG</h2>
                    </div>
                    <div class="panel-body container">
                        <form method="post" action=".">
                            <div id="" class="form-group row  required">
                                <div class="col-md-3 clearfix text-right">
                                    <label for="id_password1" class="control-label  requiredField">Chọn ngày</label>
                                </div>
                                <div class="controls col-md-7 clearfix">
                                    <div class="input-group date m-b-5">
                                        <input id="datefilter" class="form-control" type="text" name="datefilter" value="" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row ">
                                <div class="col-md-3 clearfix text-right">
                                    <label class="control-label "> Số hiệu <span class="text-danger">*</span></label>
                                </div>
                                <div class="col-md-5 clearfix">
                                    <select id="listDeviceNo" class="form-control select2 fl" style="width:100%"></select>
                                </div>
                                <div class="col-md-4 clearfix">
                                    <input type="button" name="Signup" value="Xem" class="btn btn-primary btn" style="width:135px;" onclick="Report_BGT_TocDoXeChay();" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="p-10 table-responsive">
                        <table id="table_dn_tonghopkm" class="table  table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="headerAlignCenter" style="width:24px">STT</th>
                                    <th class="headerAlignCenter" style="width:45px">Số hiệu</th>
                                    <th class="headerAlignCenter" style="width:35px">Ngày</th>
                                    <th class="headerAlignCenter" style="width:103px">Thời gian bắt đầu</th>
                                    <th class="headerAlignCenter" style="width:103px">Thời gian kết thúc</th>
                                    <th class="headerAlignCenter" style="width:120px">Tọa độ bắt đầu</th>
                                    <th class="headerAlignCenter" style="width:120px">Tọa độ kết thúc</th>
                                    <th class="headerAlignCenter" style="width:45px">Tổng hải lý</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_dn_tonghopkm"></tbody>
                            @*<tfoot id="tfoot_dn_tonghopkm">
                                <tr>
                                    <th class="headerAlignCenter">Tổng</th>
                                    <th class="headerAlignCenter"></th>
                                    <th class="headerAlignCenter"></th>
                                    <th class="headerAlignCenter"></th>
                                    <th class="headerAlignCenter"></th>
                                    <th class="headerAlignCenter"></th>
                                    <th class="headerAlignCenter"></th>
                                    <th class="headerAlignCenter" id="sum_tongkm_dn_tonghopkm"></th>
                                </tr>
                            </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
