<div class="reloading">
    <div id="wait">
        Đang cập nhật dữ liệu, vui lòng chờ giây lát ... <br />
        <img src="~/Content/images/icon/waiting4.gif" width="64" height="64" />
    </div>
</div>
<style>
  
    #wait {
        background-color: #fff;
       width:100%;
        display: none;
        text-align: center;
        position: absolute;
       
    }
</style>
<script>

    var wait = function () {
        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });
      
    };
    setTimeout(wait(), 400000);
</script>