
@{
    ViewBag.Title = "Nangcap";
    Layout = "~/Views/Shared/_LayoutTienIch.cshtml";
}

    <div id="signupbox" class="mainbox">
        <div class="panel panel-primary">
            <div class="jumbotron ">
                <h2>HỔ TRỢ NÂNG CẤP</h2>
            </div>
            <div class="p-10">
                <table id="table_tienich_thongtinthietbi" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th class="headerAlignCenter">STT</th>
                            <th class="headerAlignCenter">Thông tin</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_tienich_thongtinthietbi"></tbody>
                </table>
            </div>
        </div>
    </div>