<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Danh sách thiết bị đã và sắp hết hạn</h5>
                <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close" style="display:none">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive-taikhoan-them table-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="headerAlignCenter">STT</th>
                                <th class="headerAlignCenter">Số hiệu</th>
                                <th class="headerAlignCenter">Ngày hết hạn</th>
                                <th class="headerAlignCenter">Trạng thái</th>
                                <th class="headerAlignCenter">Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody id="body_dv_exp">

                          <tr id="thongbaohangloi" style="display:none">
                              <td colspan="5" align="center" id="error"></td>
                          </tr>
                        </tbody>
                        
                    </table>
                    @*<span id="error"></span>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Vui lòng chọn hình thức xem?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <a href="/File/HDSD Website.docx" download><button type="button" class="btn btn-default">Tải xuống</button></a>
                <a href="/File/HDSD-Website.html" target="_blank"><button type="button" class="btn btn-primary">Xem trực tuyến</button></a>
            </div>
        </div>
    </div>
</div>
