<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/Content/public/img/logo.jpg" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="vi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SeaTracking VINASIA</title>

    <link href="~/Content/public/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/public/css/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>

    <script src="~/Content/public/js/Datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/public/js/Datetimepicker/bootstrap-datetimepicker.fr.js"></script>
    <link href="~/Lib/css/_Route.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous" async=""></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous" async=""></script>
</head>
<body id="body" class="class_body_t">
    <div class="body-content">
        <div class="wrapper ">
            @Html.Partial("_Navbar")
            <div id="content" class="s-relative main show">
                @RenderBody()
                @Html.Partial("_LoadingModal")
            </div>
        </div>
    </div>
    @Html.Partial("../_waiting")
    <style>
        html {
            font-family: sans-serif;
        }

        .dropdown-item {
            font-weight: bolder;
        }

        .btn {
            font-weight: bolder;
        }

        #linkmenu {
            padding: 0px;
        }

        #sub-sub-menu a img {
            width: 24px;
            height: 24px;
        }

        #sub-menu-1 img {
            width: 24px;
            height: 24px;
        }
    </style>



    @*css của ngày và của giao diện*@
    <script src="/Content/public/js/moment.min.js"></script>
    <script src="/Content/public/js/daterangepicker.min.js"></script>
    @*load map online*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1P2dXHGBESLKUTuDqyeEi6MEKkOFtlec&libraries=places,geometry,drawing" type="text/javascript"></script>
    @*giao diện map*@
    <script src="/Content/public/js/Gmap/v3_epoly.js"></script>
    <script src="/Content/public/js/markerwithlabel.js"></script>
    <script src="/Content/public/js/Gmap/markerclusterer.js"></script>
    <script src="/Content/public/js/Gmap/markerclusterer_compiled.js"></script>
    @*giao diện route và các chức năng của route*@
    <script src="~/Scripts/graham_scan.js"></script>
    <script src="~/Lib/js/_Route/defaultRoute.js"></script>
    <script src="~/Lib/js/_Route/controllerRoute.js"></script>
    <script src="~/Lib/js/_Route/globalRoute.js"></script>
    <script src="~/Handlers/keepAlive.js"></script>

</body>
</html>
